<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  To get help on this app and learn Ruby on Rails development, you can visit
  <a href="https://www.railstutorial.org/#help"><em>Ruby on Rails</em> book</a>.
</p>