<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  This app was created in Ruby on Rails. It was developed to implement some of the core features from Twitter.
  To get help on this app, you can visit
  <a href="https://www.railstutorial.org/#help"><em>Ruby on Rails</em> book</a>.
</p>